.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login__logo{
    margin-top: 10px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;   
}

.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container >form>h5{
    margin-bottom: 5px;
}

.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login__container > p{
margin-top: 15px;
font-size: 12;
}

.login__signInButton{
    background: #f0c14b;
    border : 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    width:100%;
    height:30px;
}

.login__registerButton{
    border : 1px solid;
    border-radius: 2px;
    height:30px;
    margin-top: 10px;
    border-color:lightgray;
    width:100%;
}